<!DOCTYPE HTML>
<html>
<head>
  <title>  </title>

  <!--Custom CSS-->
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css"

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>

<nav class="navbar">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/harjit">Harjit</a></li>
    <li><a href="/charanjit">Charanjit</a></li>
    <li><a href="/harsimran">Harsimran</a></li>
    <li><a href="/prabhjit">Prabhjit</a></li>
    <li><a href="/jaskirat">Jaskirat</a></li>
  </ul>
</nav>