<% include ./partials/header.ejs %>

<div class="jumbotron">
<h1 style="color: lightcoral">Charanjit Kaur</h1>
<p>Charanjit Kaur is a housewife who takes care for her family.
  She is a very spiritual person who have faith in god in every situation as well as
  thinks positive. She loves her children and have friends like relation with them.   </p>
  <small>Prabhjit's Mother</small>
</div>

<% include ./partials/footer.ejs %>