<% include ./partials/header.ejs %>

<div class="jumbotron">
<h1 style="color: orangered">Harjit Singh</h1>
 <p>Professionally, Harjit Singh is a very hard working businessman.
   He trades for all kinds of Industrial Machinery on dealership & commission basis.
   In personal life, he is a very loving and caring person who loves his family and can do anything to make them happy.
 </p>
<small>Prabhjit's Father</small>
</div>

<% include ./partials/footer.ejs %>