<% include ./partials/header.ejs %>

<div class="jumbotron">
<h1 style="color: springgreen">Harsimran Kaur</h1>
<p>Harsimran Kaur is an ambitious girl who wants to achieve her goals.
  She has recently completed diploma of Biotechnology. She is going ahead to study
  Masters of Biotechnology. She is very good at heart. She is fond of travelling & shopping new clothes, shoes and fashion accessories.</p>
<small>Prabhjit's Elder Sister</small>
</div>

<% include ./partials/footer.ejs %>