<% include ./partials/header.ejs %>

  <div class="jumbotron">
    <h1 style="color: silver"><%= title %></h1>
  <p>Welcome to <strong><%= message %></strong> - We all got a great sense of humor. :)</p>
  </div>

<% include ./partials/footer.ejs %>
