<% include ./partials/header.ejs %>

<div class="jumbotron">
<h1 style="color: cornflowerblue">Jaskirat Singh</h1>
<p>Jaskirat Singh is a 12th Grade student who loves to roam around in leisure time. He is a angry young man who loves to watch WWE & other related TV shows and also likes to eat different kinds of delicious foods. He is very friendly person and can take a stand for his friends and family.</p>
  <small>Prabhjit's Younger Brother</small>
</div>

<% include ./partials/footer.ejs %>