<% include ./partials/header.ejs %>

<div class="jumbotron">
<h1 style="color: gold">Prabhjit Singh</h1>
<p>Prabhjit Singh is an ambitious, courageous and hard working boy who wants to be a
  famous personality in the world. He is a Graphic Designer, Web Designer and will be
  a Music Producer one day. He walks alone in the path of career and success. Personally,
  he is sensitive, positive, loving and caring person who respects everyone. He loves to compose music in his leisure time. </p>
<small>Prabhjit Himself </small>
</div>

<% include ./partials/footer.ejs %>